<header class='border-b border-zinc-400'>
  <nav>
    <a href='/'>Logo</a>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/about'>About</a></li>
      <li><a href='/blog'>Blog</a></li>
      <li><a href='/contact'>Contact</a></li>
    </ul>
  </nav>
</header>
